<!DOCTYPE html>
<html lang="" ng-app="movie-finder">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Finder</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">
</head>

<body ng-controller="SearchController as search">
    <div class="container">
        <div class="well">
            <h1>Movie Finder</h1>
            <p class="lead">What are you looking for?</p>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="search.input" placeholder="Search for...">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search.findMovies(search.input)">Go!</button>
      </span>
        </div>
        <div class="row" style="margin-top: 24px:">
            <div class="col-xs-4" ng-repeat="movie in search.results">
                <div class="panel panel-default">
                    <div class="panel-heading">{{movie.Title}}</div>
                    <div class="panel-body">
                        <img ng-src="{{movie.Poster}}" alt="">
                        <small>Filmed in {{movie.Year}}</small>
                        <a ng-href="http://www.imdb.com/title/{{movie.imdbID}}">Click here to view on IMDB!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/core/movie.factory.js"></script>
    <script src="app/search/search.controller.js"></script>
</body>

</html>
